* {
    background-color: black;
    color: white;
}

.pokeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.pokeCard {
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 550px;
    width: 250px;
    border: 5px solid orange;
    align-items: center;
    text-align: center;
}

.loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    height: 200px;
    width: 200px;
    position: fixed;
    top: calc(100vh / 2 - 100px);
    left: calc(100vw / 2 - 100px);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.pokeImage {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 200px;
    justify-content: center;
}

.stats {
    display: flex;
    align-items: center;
}