* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pokeContainer {
    height: calc(100vh / 2 - 26px);
    color: white;
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.pokeCard {
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 400px;
    width: 250px;
    border: 5px solid orange;
    align-items: center;
    text-align: center;
    background-color: black;
}

h1 {
    margin: 0;
}

.loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    height: 200px;
    width: 200px;
    position: fixed;
    top: calc(100vh / 2 - 100px);
    left: calc(100vw / 2 - 100px);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.pokeImage {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 200px;
    justify-content: center;
}

.stats {
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
}

Select {
    font-size: 1.5rem;
}

.selection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.title {
    text-align: center;
    padding-top: 5px;
    font-size: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title-pokeball {
    height: 50px;
    width: 50px;
    margin: 0 25px;
}